{% extends "layout.html" %}
{% block content %}

<div id="myTodoApp">
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Your Todo List</h3>
        </div>
        <br>
        <div class="jumbotron" id="jumboContainer">
            <div class="jumbotron"  id="upperContainer" >
                <h2>Todos</h2>
            </div>
            <div class="content">
                <div class="jumbotron"  id="middleContainer" >
                    <div id="create-todo">
                        <form class="form-inline" >
                            <div class="form-group">
                                <label class="sr-only" for="inputTodo"></label>
                                <input type="text" id="inputTodo" class="rounded" placeholder="What needs to be done?">
                            </div>
                            <button class="btn" id="addBtn" >Add Todo</button>
                        </form>
                    </div> <!-- end create-todo -->
                    <div id="todos">
                        <div id="theTodos"></div>
                    </div>
                </div> <!-- End middle container -->
                <div class="jumbotron" id="bottomContainer">
                    <div id="todoStats"></div>
                </div>
            </div> <!-- end content -->
        </div> <!--End big jumbotron -->
    </div> <!--End container -->
</div> <!-- End todoapp -->

{% endblock content %}
