<!doctype html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Todo</title>

    <link href="../static/css/style.css" rel="stylesheet">
    <script data-main="js/main" src="../static/js/libs/require/require.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--Bootstrap for proper rendering and touch zooming. Mobile. -->
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>